* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.slides img {
    height: 750px;
    display: none;
    width: 100%;
}

img.active {
    display: block;
}

.thumbs img {
    height: 150px;
    width: 100%;
    opacity: 50%;
}

img.active_thumb {
    opacity: 100%;
}

.col-2 button {
    position: absolute;
    opacity: 70%;
}

.prev_img {
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.next_img {
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.autoplay {
    position: absolute;
    bottom: 10px;
    left: 10px;
}